*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
@font-face {
    font-family: "Flexo-Medium";
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")format("svg");
}
figure{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    position: relative;
    top: 10vh;
    margin-bottom: 15px;
}
figure img {
    max-height: 300px;
}
.pokedex-numero{
    height: 1.3rem;
    margin: 0;
    padding-left: 15%;
    font-size: 1.3rem;
    color: #ffffff;
    padding-top: 15px;
}
.pokedex{
    text-align: center;
    
    border: 5px black solid;
    border-radius: 10px;
    width: 35vw;
    position: relative;
    left: 33%;
}
.pokedex__top{
    background-color:  #E09191;
    border-radius: 5px 5px 0 0;
    border-bottom: 5px black solid;
}
p{
    height: inherit/2;
    width: inherit/2;
    text-align: justify;
    padding: 10px 10px;
    background-color: white;
}

html{

    font-family: Flexo-Medium;
    height: 100vh;
    width: 100vw;
    --r2: #E1BEAC;
    --r1: #ECCEBE;
   /*background-image: conic-gradient(
        var(--r1) 0, var(--r1) 15deg,
        var(--r2) 15deg, var(--r2) 200deg,
        var(--r1) 200deg, var(--r1) 360deg
    );*/
    background-image: conic-gradient(
        var(--r1) 0, var(--r1) 40deg,
        var(--r2) 40deg, var(--r2) 220deg,
        var(--r1) 90deg, var(--r1) 150deg
    );
    }