*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
@font-face {
    font-family: "Flexo-Medium";
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")format("svg");
}
h1{
    text-align: center;
    font-size: 1.1rem;

    min-width: 11vw;
    height: 5%;
    
    background-color: #c66060;
    
    position: absolute;
    top: 60%;
    left: 44.5vw;
  
    padding-top: 7px;
    border-radius: 40px;
}
p{
    background-color: #d1f7a3;
    color: black;
    min-height: 11vh;
    width: 25vw;
    text-align: center;
    padding: 20px 10px;
    position: absolute;
    top: 62%;
    left: 37.5vw;
    border-radius: 10px;
}
figure{
    margin-left: 15vw;
}
img{
    max-width: 35vw;
    max-height: 75vh;
}

html{
    color: azure;
    font-family: Flexo-Medium;
    height: 100vh;
    width: 100vw;
    --r2: #E1BEAC;
    --r1: #ECCEBE;
   /*background-image: conic-gradient(
        var(--r1) 0, var(--r1) 15deg,
        var(--r2) 15deg, var(--r2) 200deg,
        var(--r1) 200deg, var(--r1) 360deg
    );*/
    }