*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
}
.title{
    font-size: 90px;
}
.nav{
    margin-top: 10px;
    list-style-type: none;
    padding: 1px;
}
.nav li{
    margin-right: 50px;
    display: inline-block;
}

.nav a{
    background-color: #13a4a4;
    color: rgb(255, 255, 255);
    padding: 1.5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-decoration: none;
}

.nav .adicction{
    padding-top: 2px;
    padding-bottom: 1px;
    background-color: rgb(236, 111, 111)
}