@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro&display=swap');

@font-face {
    font-family: "Flexo-Medium";
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")format("svg");
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
    transition: all 0.1s;
}
.header .logo:hover{
    transform: scale(1.1);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 70px;
    transition: all 0.1s;
}
.header .nav-links li:hover{
    transform: scale(1.1);
    color: #866CBA;
}
.header .nav-links a:hover{
    color:inherit;
}
.header .nav-links a{
    font-weight: 500;
    color: black;
    font-size: 2rem;
    text-decoration: none;
}
#search-bar{
    font-family: 'Inter', sans-serif;
    text-indent: 20px; 
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
    border: #e6e0e0 1px solid;
}

#search-bar:focus {
    outline: none; /* Eliminamos el contorno predeterminado al enfocar */
    border-color: #007bff; /* Cambiamos el color del borde cuando se enfoca */
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    margin-left: .4em;
    margin-right: .8em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}
main .banner{
    width: 100vw;
    background-color: #866CBA;
    height: 25vh;
    align-items: center;
    display: flex;
}
.banner img {
    margin-left: 15vw;
    margin-right: 5vw;
}
.banner h1{
    color: floralwhite;
    font-weight: 500;
    font-size: 4rem;
}

#titulo{
    display: block;
}
.encabezado {
    display: flex;
    align-items: center; 
    margin-bottom: 5%;
}

.encabezado img {
    max-width: 100px; 
    margin-right: 5%; 
}

.encabezado h1 {
    font-size: 2.4rem; 
    margin: 0; 
    font-weight:300;
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content .servicio{
    display: inline-block;
    font-size: 2rem;
    padding: 4%;
}
main #titulo{
    padding: 2% 2% 0 2%;
    font-size: 4rem;
    font-weight: bolder;
}
.main-content p{
    margin-left: 16.5%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
footer{
    width: 100%;
    min-height: 12.35%;
    background-color: #d9d9d9;
    color: #866CBA;
}
footer h1{
    padding: 2.47%;
    text-align: center;
}
@media (max-width: 540px) {

    .header{
        display: block;
        padding: 0;
        margin: 5vw;
    }
    .banner img{
        height: 35px;
        width: auto;
    }
    .banner h1{
        font-size: 2.4rem;
    }
    .header .nav-links li{
        display: block;
        padding: 0;
        padding-bottom: 5%;
    }
    .header .nav-links{
        margin: 5% 0 5% 0;
    }
    .header .nav-links li:hover{
        transform: none;
    }
    .header .logo:hover{
        transform: none;
    }
    
    #search-bar{
        width: 90vw;
    }
    
    main .banner div{
        display: inline-block;
    }
    main .banner{
        margin-top: 20vh;
    }
    
    .main-content{
        display: block;
    }
    .main-content .servicio{
        display: block;
        font-size: 1rem;
        padding: 4%;
    }
    
    main #titulo{
        font-size: 2rem;
        padding: 5%;
        text-align: center;
    }
    .encabezado img {
        height: 20px;
    }
    
    footer h1{
        padding: 6%;
    }
    
    .main-content p{
        margin-left: 10.5%;
    }
}