@font-face {
    font-family: "Flexo-Medium";
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")format("svg");
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Flexo-Medium;
}

img{
    max-height: 5vh;
    min-height: 50px;
    padding-left: 2.5vw;
    padding-right: 3vw;
    padding-top: .5rem;
    margin: .5rem;
}
li{
    list-style: none;
}
li a {
    font-size: 1.6rem;
    text-decoration: none;
    color: brown;
    padding: 1rem;
    display: block;
}
main{

    display: flex;
}
.main-content{
    background-color: blue;
    min-width: 80%;
    width: 80%;
    height: auto;
}
.panel-botones{
    background-color: red;
    min-width: 25vw;
    padding-left: 2%;
    padding-bottom: 10%;
    display: inline-block;
}
.menu-display{
    display: none;
}
button{
    background: none;
    width: 13vw;
    height: 15vh;
    margin-top: 5vh;
    background-color: aqua;
    border: none;
    cursor: pointer;
    display: block;
    border-radius: 10px;
}
.toggle-button{
    position: absolute; /* Para ponerlo a la derecha siempre sin que se arruine nada */
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;

}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
}

@media (max-width: 450px) {
    
  }

  
@media (max-width: 800px) {
    button{
        width: 20vw;
        font-size: 1rem;
    }
  }

  
  
@media (max-width: 605px) {
  
    img{
        height: 5vh;
    }
    .toggle-button{
        background-color: black;
        display: flex;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links{
        width: 100%;
    }
    .navbar-links ul{
        display: none;
        flex-direction: center;
        width: 100%;
    }
    
    .navbar-links li{
        text-align: center;
    }
    .navbar-links a{
        padding: 0.5rem 1rem;
    }
}
