@font-face {
    font-family: "Flexo-Medium";
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
    src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")format("svg");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Flexo-Medium;
}

img{
    max-height: 5vh;
    min-height: 50px;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-top: 2.5px;
}
ul{
}
li{
    break-inside: avoid-column;
    font-size: 1.6rem;
    display: inline-block;
    padding-right: 5vw;
    margin-top: 2vh;
}
main{

    display: flex;
}
.main-content{
    background-color: blue;
    min-width: 80%;
    width: 80%;
    height: auto;
}
.panel-botones{
    background-color: red;
    min-width: 25vw;
    padding-left: 2%;
    padding-bottom: 10%;
    display: inline-block;
}
button{
    background: none;
    width: 13vw;
    height: 15vh;
    margin-top: 5vh;
    background-color: aqua;
    border: none;
    cursor: pointer;
    display: block;
    border-radius: 10px;
}

@media (max-width: 450px) {
    
    img{
        height: 5vh;
    }
  }

  
@media (max-width: 800px) {
    button{
        width: 20vw;
        font-size: 1rem;
    }
  }